@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tw-elements";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap");

body {
  margin: 0;
  overscroll-behavior: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.accessible-carousel [data-testid="carousel-indicator"] button,
div[data-testid="carousel"] button.h-3.w-3.rounded-full,
button.h-3.w-3.rounded-full {
  min-width: 18px !important;
  min-height: 18px !important;
  margin: 0 3px !important;
  /* This maintains the visual size but increases the touch target */
  position: relative;
  z-index: 50;
  /* Center the visible dot within the larger touch area */
  display: flex;
  align-items: center;
  justify-content: center;
}
